[credential]
	helper = store
[user]
	email = shawn.yu5@hotmail.com
	name = shawn yu

[core]
    pager = less

[interactive]
    diffFilter = less

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = master
[safe]
	directory = /home/shawn/actions-runner/_work/jenkins_plugin_versioning/jenkins_plugin_versioning
	directory = /home/shawn/actions-runner/_work/jenkins_plugin_versioning/jenkins_plugin_versioning
	directory = /home/shawn/github_runner/actions-runner/_work/jenkins_plugin_versioning/jenkins_plugin_versioning
	directory = /home/shawn/github_runner/actions-runner/_work/jenkins_plugin_versioning/jenkins_plugin_versioning
	directory = /home/shawn/actions-runner/_work/sematic_release_testing/sematic_release_testing
