# cpp class
snippet class "creates a cpp class" b
class $1
{
private:
	<++>
public:
	$1()
	{}

	<++>
};
endsnippet

# lambda expression
snippet lamb "create a lambda"
auto $1 = [<++>](<++>)
{
	<++>
};
endsnippet
