snippet [ "Markdown link"
[${1:text}](${2:link})
endsnippet

snippet drop "Dropdown menu"
<details open>
<summary>${1:Title}</summary>
<br>
${2:content}
</details>

endsnippet

snippet cppRepo "cpp repository links"
[Fragments](https://github.com/shawnyu5/fragments)

[Fragments ui](https://github.com/shawnyu5/fragments-ui)
endsnippet
