---
- name: Check if bacon has been installed
  ansible.builtin.command: which bacon
  register: bacon_installed

- name: Install bacon
  ansible.builtin.command: cargo install bacon
  when: bacon_installed.failed

- name: Link bacon conf
  ansible.builtin.file:
    src: "{{ personal_dir }}/.config/bacon"
    dest: "{{ ansible_env.HOME }}/.config/bacon"
    state: link
    force: true
