snippet check A checkbox
	- [ ] ${1}

snippet link A link
	[${1}](${2:https})

snippet details Collapsible details block
   <details>
   <summary>${1:summary}</summary>

   ${2:details}
   </details>

snippet bt
	### TODO book tickets
