snippet checkout
	- name: Checkout code
	  uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

	${0}

snippet error Github actions error message
	echo '::error::${1:error}'

snippet add-mask Github actions add mask
   echo "::add-mask::\${{ ${1:value} }}"
