snippet checkout
	- name: Checkout code
	  uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

	${0}

snippet error Github actions error message
	echo '::error::${1:error}'

snippet add-mask Github actions add mask
   echo "::add-mask::\${{ ${1:value} }}"
