# div tag
snippet div "a div tag"
<div>
	$1
</div>
endsnippet

# print tag
snippet p "print tag"
<p>$1</p>
endsnippet
	
snippet img "img tag"
<img src="${1:src}" alt="${2:alt}"
endsnippet

snippet html "basic html template"
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
</body>
endsnippet
