snippet if "if statement"
if(${1:// condition}) {
	${2:// TODO: code}
}
endsnippet

snippet pro "return a new promise"
return new Promise(function(resolve, reject) {
	${1:// TODO: code}
});
endsnippet
