snippet cb "A generic code block"
\`\`\`$1
\`\`\`

${2}
endsnippet

snippet py "python code block"
\`\`\`py
$1
\`\`\`

${2}
endsnippet

snippet js "javascript code block"
\`\`\`js
$1
\`\`\`

${2}
endsnippet

snippet java "java code block"
\`\`\`java
$1
\`\`\`

${2}
endsnippet

snippet bash "bash code block"
\`\`\`bash
$1
\`\`\`

${2}
endsnippet
