snippet sel "selenium imports"
from selenium import webdriver

PATH = "/usr/bin/chromedriver"
driver = webdriver.Chrome(PATH)
endsnippet

snippet if "if statement"
if ${1:# CONDITION}:
	${2:# code}
endsnippet
