snippet case "a case statement"
case ${1:TODO: $varname} in
	${2:# TODO: pattern1})
		${3:# TODO: command1};;
	*)
		echo "${4:Invalid option}";;
esac

endsnippet

snippet if "if statement"
if [[ ${1:condition 1} ${2:operator} ${3:condition 2} ]]; then
	${3:#TODO: code}
fi
endsnippet
